<div class="auth-page">
  <div class="auth-form-container">
    <div class="auth-form-wrapper">
      <h1 class="auth-title">Введите код<br>подтверждения</h1>
      <p class="auth-subtitle-left mb-1">Код отправлен на {{email}}</p>

      <form id="recovery-code-form" novalidate>
        {{> input id="code" label="Код из письма" type="text" placeholder="123456" maxlength="6" }}

        <div class="resend-container">
          <span id="resend-link" class="resend-text">
            Отправить повторно через <span id="timer">0:59</span>
          </span>
        </div>

        <button type="submit" class="btn btn-primary mt-1" disabled>Подтвердить</button>

        <p class="auth-footer-text mt-1">
          <a href="#" id="back-link">Вернуться назад</a>
        </p>
      </form>
    </div>
  </div>

  <div class="auth-logo-container">
    <div class="auth-logo-content">
      <img src="/public/logo.svg" alt="NeXus Logo" class="auth-logo" />
      <p class="auth-subtitle">Центр управления проектами</p>
    </div>
  </div>
</div>
