<div class="auth__page">
  <div class="auth__form-container">
    <div class="auth__form-wrapper">
      <h1 class="auth__title">Введите код<br>подтверждения</h1>
      <p class="auth__subtitle-left mb-1">Код отправлен на {{email}}</p>

      <form id="recovery-code-form" novalidate>
        {{> input id="code" label="Код из письма" type="text" placeholder="123456" maxlength="6" }}

        <div class="resend__container">
          <span id="resend-link" class="resend__text">
            Отправить повторно через <span id="timer">0:59</span>
          </span>
        </div>

        <button type="submit" class="btn btn--primary mt-1" disabled>Подтвердить</button>

        <p class="auth__footer-text mt-1">
          <a href="#" id="back-link">Вернуться назад</a>
        </p>
      </form>
    </div>
  </div>

  <div class="auth__logo-container">
    <div class="auth__logo-content">
      <img src="/logo.svg" alt="NeXus Logo" class="auth__logo" />
      <p class="auth__subtitle">Центр управления проектами</p>
    </div>
  </div>
</div>
