<div class="auth__page">
  <div class="auth__form-container">
    <div class="auth__form-wrapper">
      <h1 class="auth__title">Придумайте<br>новый пароль</h1>

      <form id="recovery-pass-form" novalidate>
        {{> input id="password" label="Новый пароль" type="password" placeholder="Минимум 8 символов" isPassword=true
        maxlength="128" }}
        {{> input id="repeatPassword" label="Подтвердите пароль" type="password" placeholder="Минимум 8 символов"
        isPassword=true maxlength="128" }}

        <button type="submit" class="btn btn--primary mt-1" disabled>Сохранить</button>
      </form>
    </div>
  </div>

  <div class="auth__logo-container">
    <div class="auth__logo-content">
      <img src="/logo.svg" alt="NeXus Logo" class="auth__logo" />
      <p class="auth__subtitle">Центр управления проектами</p>
    </div>
  </div>
</div>
