<div class="auth-page">
  <div class="auth-form-container">
    <div class="auth-form-wrapper">
      <h1 class="auth-title">Придумайте<br>новый пароль</h1>

      <form id="recovery-pass-form">
        {{> input id="password" label="Новый пароль" type="password" placeholder="Минимум 8 символов" isPassword=true }}
        {{> input id="repeatPassword" label="Подтвердите пароль" type="password" placeholder="Минимум 8 символов"
        isPassword=true }}

        <button type="submit" class="btn btn-primary mt-1" disabled>Сохранить</button>
      </form>
    </div>
  </div>

  <div class="auth-logo-container">
    <div class="auth-logo-content">
      <img src="/public/logo.svg" alt="NeXus Logo" class="auth-logo" />
      <p class="auth-subtitle">Центр управления проектами</p>
    </div>
  </div>
</div>
