<div class="color-picker-list">
  <button type="button" class="color-square white" data-color="white" title="White"></button>
  <button type="button" class="color-square grey" data-color="grey" title="Grey"></button>
  <button type="button" class="color-square red" data-color="red" title="Red"></button>
  <button type="button" class="color-square orange" data-color="orange" title="Orange"></button>
  <button type="button" class="color-square blue" data-color="blue" title="Blue"></button>
  <button type="button" class="color-square green" data-color="green" title="Green"></button>
  <button type="button" class="color-square purple" data-color="purple" title="Purple"></button>
  <button type="button" class="color-square pink" data-color="pink" title="Pink"></button>
</div>
