<div class="color-picker-list">
  <button type="button" class="color-square white" data-color="white" title="Белый"></button>
  <button type="button" class="color-square grey" data-color="grey" title="Серый"></button>
  <button type="button" class="color-square red" data-color="red" title="Красный"></button>
  <button type="button" class="color-square orange" data-color="orange" title="Оранжевый"></button>
  <button type="button" class="color-square blue" data-color="blue" title="Синий"></button>
  <button type="button" class="color-square green" data-color="green" title="Зеленый"></button>
  <button type="button" class="color-square purple" data-color="purple" title="Фиолетовый"></button>
  <button type="button" class="color-square pink" data-color="pink" title="Розовый"></button>
</div>
